<form action="/process-form" method="POST">
    Nome: <input type="text" name="name" /><br>
    E-mail: <input type="email" name="email" /><br>
    Endereço: <input type="text" name="address" /><br>
    <button type="submit">Send</button>
</form>
