<form action="/process-form" method="POST">
    Nome: <input type="text" name="nome" /><br>
    E-mail: <input type="email" name="email" /><br>
    Endereço: <input type="text" name="endereco" /><br>
    <button type="submit">Send</button>
</form>
